
@{
    ViewBag.Title = "Cardapio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/Menu.css" rel="stylesheet" />
<h2 class="text-center"><u>Cardapio</u></h2>
<br />

<label>Filtrar bebida: </label>
<input type="text" name="filtro"  class="filtrar" id="filtrar-bebida" placeholder="Pesquisar">

<table class="table table-dark">
    <thead>
        <tr>
            <th class="col"><h3>Bebidas</h3></th>
        </tr>
        <tr>
            <th>Nome</th>
            <th>Quantidade</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var produto in ViewBag.ListaBebida)
        {
        <tr class="bebidas">
            <td class="nomeBebida">@produto.Nome</td>
            <td>
                <form>
                    <input type="number" name="Qntd" class="form-control form-control-sm" />
                </form>
            </td>
        </tr>
        }
    </tbody>
</table>
<br />

<label>Filtrar salgado: </label>
<input type="text" name="filtro" class="filtrar" id="filtrar-salgado" placeholder="Pesquisar">
<table class="table table-dark">
    <thead>
        <tr>
            <th class="col"><h3>Salgados</h3></th>
        </tr>
        <tr>
            <th>Nome</th>
            <th>Quantidade</th>
        </tr>
       
    </thead>
    <tbody>
        @foreach (var produto in ViewBag.ListaSalgado)
        {
            <tr class="salgados">
                <td class="nomeSalgado">@produto.Nome</td>
                <td >
                    <form>
                        <input type="number" name="Qntd" class="form-control form-control-sm" />
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
<br />

<label>Filtrar doce: </label>
<input type="text" name="filtro"  class="filtrar" id="filtrar-doce" placeholder="Pesquisar">
<table class="table table-dark">
    <thead>
        <tr>
            <th class="col"><h3>Doces</h3></th>
        </tr>
        <tr>
            <th>Nome</th>
            <th>Quantidade</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var produto in ViewBag.ListaDoce)
        {
        <tr class="doces">
            <td class="nomeDoce">@produto.Nome</td>
            <td>
                <form>
                    <input type="number" name="Qntd" class="form-control form-control-sm" />
                </form>
            </td>
        </tr>
        }
    </tbody>
</table>

<script src="~/Scripts/ScriptsDeTelas/Tela_Produto.js"></script>
