@{
    ViewBag.Title = "Home";
}

<div class="text-center " style="background-color:black;">
    <img src="~/Imagens/Logo.png" class="img-fluid" alt="Logo">
</div>
    <br />
    <div class="row">
        <div class="col-md-7">
            <img src="~/Imagens/padaria1.jpg" class="img-fluid rounded float-left" alt="Padaria">
        </div>
        <div class="col-md-4 bg-secondary rounded-lg">
            <h3 class="text-center ">Faça já seu cadastro</h3>
            <br />
            <h4>
                Novo conceito de padaria, faça seu cadastro e encomende seu pedido, quando você chega já estará
                tudo preparado para você.
            </h4>
        </div>
    </div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>